@media screen and (min-width: 750px) and (max-width: 1199px) {
  body {
    max-height: 100vh;
    display: grid;
    grid-template-columns: 4fr 1fr 8fr 1fr;
    grid-template-rows: repeat(10, 1fr);
  }

  /* ---------------------------------------------- */
  /* left side header */
  /* ---------------------------------------------- */
  .topheader_qihui {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border-radius: 10px;
  }

  /* ---------------------------------------------- */
  /* left side navigation bar */
  /* ---------------------------------------------- */
  .navigation_bar_nav {
    position: sticky;
    grid-row: 4 / 9;
    align-self: center;
    padding-bottom: 20px;
    /* line-height: 70px; */
  }

  .navigation_bar {
    display: block;
    background-color: initial;
    white-space: normal;
  }

  .navigation_bar li {
    font-size: 1.2em;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    background-color: #d5cdc3;
    border-radius: 0px;
    color: #999590;
    padding: 0.5em 0 0.5em 0;
    transition: 0.3s;
    margin-left: 0;
    margin-right: 0;
  }

  .navigation_bar li:hover {
    background-color: initial;
    text-decoration: underline;
    font-size: 1.6em;
    color: #867d6e;
  }

  .navigation_bar li:active {
    /* background-color: #F0EFEB; */
    font-size: 1.3em;
    border-radius: 0px;
    text-decoration: underline;
  }

  /* ---------------------------------------------- */
  /* left side footer */
  /* ---------------------------------------------- */
  .footer {
    position: static;
    grid-row: 10 / 11;
    background-color: initial;
    align-self: center;
    z-index: 5;
  }

  /* ---------------------------------------------- */
  /* tag */
  /* ---------------------------------------------- */
  .nav-after-click::before {
    height: 10px;
  }

  .tag_div {
    top: 10px;
  }

  .tag {
    padding: 10px 30px 10px 30px;
    border-radius: 35px 35px 35px 35px;
    text-align: center;
  }

  /* ---------------------------------------------- */
  /* right-side-section */
  /* ---------------------------------------------- */
  #right-side-section {
    grid-row: 1 / 11;
    grid-column: 3 / 4;
    overflow: auto;
    scroll-behavior: smooth;
  }

  #right-side-section::-webkit-scrollbar {
    width: 5px;
    height: 3px;
  }
  #right-side-section::-webkit-scrollbar-track {
    margin: 5px 0 5px;
  }
  #right-side-section::-webkit-scrollbar-thumb {
    background: rgb(165, 153, 153);
    border-radius: 50px;
    /* box-shadow: rgba(255,255,255,0.3) 0 0 0 1px; */
  }
  #right-side-section:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.45);
  }
  #right-side-section::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.55);
  }

  /* ---------------------------------------------- */
  /* profile picture sizing */
  /* ---------------------------------------------- */
  .profile_picture {
    width: 140px;
    height: 140px;
  }
}
