/*about section*/

/* .about {
  margin-bottom: 50px;
} */

.about-top-section {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: repeat(2, minmax(10%, 25%));
  box-sizing: border-box;
}

.profile-picture-div {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.profile_picture {
  width: 90%;
  height: auto;
  /* object-fit: cover; */
  border-radius: 25px;
  /* box-shadow: 7px 7px 10px rgb(136, 136, 136); */
  transition: 0.3s;
  position: relative;
}

.profile_picture:hover {
  box-shadow: 4px 4px 10px rgb(136, 136, 136);
  left: -2px;
  top: -2px;
}

.info {
  margin-left: 15px;
  font-size: 1rem;
}

.info-div {
  align-self: center;
}

.info li {
  margin-bottom: 1px;
}

.link-linkedin, .link-linkedin:visited {
  color: #475b63;
}

.link-linkedin:hover {
  color: #475b63;
  text-decoration: none;
  background-color: #719890;
  color: #d5cdc3;
}

.brief_desc {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  margin: 0px 20px 0px 20px;
  text-align: justify;
  align-self: center;
  justify-content: center;
  padding: 20px 0px 20px 0px;
}
