/*about section*/
.about-top-section {
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  margin-bottom: 30px;
  margin-left: 40px;
}

.profile_picture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 25px;
  /* box-shadow: 7px 7px 10px rgb(136, 136, 136); */
  transition: 0.2s;
  /* position: relative; */
}

.profile_picture:hover {
  box-shadow: 7px 7px 10px rgb(136, 136, 136);
  left: -2px;
  top: -2px;
}

.info {
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin-left: 15px;
  font-size: 1rem;
}

.info li {
  margin-bottom: 1px;
}

.brief_desc {
  margin: 0px 40px 20px 40px;
}
