/*education section*/
.education {
  margin-bottom: 50px;
}

.education_div {
  display: flex;
  align-items: center;
}

.education_logo {
  width: auto;
  height: auto;
  /* max-width: 200px; */
  max-height: 70px;
}

.education-title-block-right {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  /* align-self: center; */
}

.education_name {
  font-weight: 650;
  /* font-size: 1.3rem; */
}

.publication-div {
    background-color: #719890;
    margin-top: 10px;
    width: fit-content;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
}

.publication-div:hover {
    box-shadow: 3px 3px 10px rgb(136, 136, 136);
    left: -1px;
    top: -1px;
}

.publication {
    padding: 10px;
    color: #C4BCB2;
    display: flex;
    align-items: center;
}

.publication:hover {
    text-decoration: none;
}

.publication:visited {
    color: #C4BCB2;
}


.publication img{
    margin-right: 10px;
}

