/* sticky title tag */
.tag_div {
  /* width: 100%; */
  /* box-sizing: border-box; */
  margin: 24px auto;
  position: sticky;
  top: 70px;
  z-index: 1;
}

/* .about-wrapper {
  position: sticky;
  top: 500px;
  z-index: 1;
} */


.tag {
  background-color: #5c4435;
  color: #d5cdc3;
  padding: 10px 45px 10px 10px;
  width: fit-content;
  border-radius: 0px 35px 35px 0px;
  text-align: left;
  scroll-margin-top: 3em;
}

/*tag font size*/
.tag {
  font-size: 1.6rem;
  letter-spacing: 2px;
}