/* work experience section */
article {
    margin-left: 40px;
    margin-bottom: 50px;
    margin-right: 40px;
}

.picture_company {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 100px;
}

.info_company {
    /* display: flex; */
    /* margin-left: 40px; */
    /* align-items: center; */
}

.work-title-block-right {
    /* display: inline-block; */
    margin-left: 15px;
    
}

.company_name{
    font-weight: 700;
    /* font-size: 1.5rem; */
    /* padding: 20px 0px 5px; */
}

.bold_title {
    font-weight: 650;
    padding: 17px 0px 3px;
}

article li {
    list-style: square;
    margin-left: 30px;
    text-align: justify;
}
